/*---FONDO WEB---*/
body,html{
    background: #212529;
}

/*---sombreado texto---*/


/*
h5{
    text-shadow: 2px 4px 4px rgba(43, 44, 46, 0.6);
  }
    */
.grey-shadow{
    text-shadow: 10px 10px 10px rgba(43, 44, 46, 0.6);
  }

.grey-text-shadow {
    text-shadow: rgb(48, 44, 44) -1px -2px;
  }

  .white-with-grey-shadow {
    text-shadow:
      1px 1px 2px black,
      0 0 1em rgb(76, 76, 85),
      0 0 0.2em rgb(49, 49, 54);
    color: white;
   
   /* font:
      1.5em Georgia,
      "Bitstream Charter",
      "URW Bookman L",
      "Century Schoolbook L",
      serif;*/
  }


  /*FOOTER*/
footer {
    min-height: 200px;
}

.footer-logo {
    width: 10%;
    height: 10%;
    margin: 10px;
    
}


.icons-social-media a{  /* la letra "a" significa que se va a aplicar las propiedades a los tag <a> que esten dentro de la clase con este nombre*/
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50% ;
    transition: all 0.2s ease-in;
    
}
.icons-social-media i{ /*(configiguracion iconos <i>)*/

    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.icons-social-media a:hover { /* efecto en los <a> cuando el cursor pase por encima*/

    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}

.icons-social-media a:hover i { /* efecto en los iconos de los enlaces cuando el cursor pase por encima*/

    color: black;

}



